@model MekinaWebsite.Models.CarsList

@{
    ViewData["Title"] = "Details";
}

<div class="row">
      <div class="col-xl-4 ">
            <div class="mb-4 mb-xl-0 mt-4 ml-2">
                    <img src="@Model.CarImage" alt="" style="border-radius:8px;max-width:100%;">
                  
        </div> 
        </div>
         <div class="col-xl-8">
            <div class="card mb-4 mt-4 mr-2">
                <div class="card-header font-weight-bold">Car Details</div>
                <div class="card-body">
                        <div class="mb-3">
                            <h1 class="small mb-1 font-weight-bold">Car Name</h1>
                            <h1 class="small mb-1 ">@Model.CarName</h1>
                        </div>
                        <div class="mb-3">
                            <h1 class="small mb-1 font-weight-bold">Price</h1>
                            <h1 class="small mb-1 ">@Model.Price</h1>
                        </div>
                        <div class="mb-3">
                            <h1 class="small mb-1 font-weight-bold">Transmission</h1>
                            <h1 class="small mb-1 ">@Model.Transmission</h1>
                        </div>
                        <div class="mb-3">
                            <h1 class="small mb-1 font-weight-bold">Year</h1>
                            <h1 class="small mb-1 ">@Model.CarYear</h1>
                        </div> 
                        <div class="mb-3">
                            <h1 class="small mb-1 font-weight-bold">Status</h1>
                            <h1 class="small mb-1 ">@Model.CarStatus</h1>
                        </div>
                        <div class="mb-3">
                            <h1 class="small mb-1 font-weight-bold">Mileage</h1>
                            <h1 class="small mb-1 ">@Model.Mileage</h1>
                        </div>
                        <div class="mb-3">
                            <h1 class="small mb-1 font-weight-bold">Seller Phone Number</h1>
                            <h1 class="small mb-1 ">@Model.PhoneNumber</h1>
                        </div>
                    </div>
                        </div>
</div>
</div>